*
{
    background-color:  #B5DBA5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homepage
{
display: grid;
place-items: center; 
width: 100%;
height: 100vh;
color:#2A4C09;
grid-template-columns: repeat(2, 1fr) repeat(5, 9fr); /* Adjusted */
grid-template-rows: 1fr 10fr 10fr min-content;
grid-template-areas:
  '. logo . . . . '
  '. . . main main .'
  '. . . button button .';
}

.secondPageDiv
{
display: grid;
grid-template-columns: repeat(7,4fr);
grid-template-rows: 1fr 1fr 1fr 1fr min-content;
grid-template-areas:
  ' text text text text text text text '
  '. . carimg . carbtn . .'
  '. . busimg . busbtn . .'
  '. . trainimg . trainbtn . .';
  
}

.secondPageDiv > h5
{
    grid-area: text;
    font-size: 2.5rem;
    text-align: center;
    color:#2A4C09;
}



.car
{
    grid-area: carbtn;

   
}

.bus
{
    grid-area: busbtn;
    margin-top: 1.1rem;
}

.train
{
    grid-area: trainbtn;
    margin-top: 1rem;
   
}

.carImg
{

    grid-area: carimg;
    max-width: 20rem;
    max-height: 12rem;   
   
}

.busImg
{
    grid-area: busimg;
    max-width: 19rem;
    max-height: 11rem;
}

.trainImg
{
    max-width: 22rem;
    max-height: 12rem;
    grid-area: trainimg;

}

h1
{
text-align: center;
font-size: 4rem;
grid-area:  main;

}


button
{
   
    border:none;
    background-color: #2A4C09;
    font-size:1.4rem;
    width: 150px; 
    color:white;
    height:75px; 
    border-radius: 20px;
    text-align: center;
    grid-area: button;
}

img
{
    grid-area: logo;
    max-width: 18rem;
    max-height: 10rem;
    margin-left: 1rem;
 
}

@media only screen and (max-width: 600px) {
    .homepage {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'logo'
            'main'
            'button';
    }

    img {
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        font-size: 2.5rem;
    }

       
    
    
}


