*
{
    background-color:  #B5DBA5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homepage
{
display: grid;
place-items: center; 
width: 100%;
height: 100vh;
color:#2A4C09;
grid-template-columns: repeat(2, 1fr) repeat(5, 9fr); /* Adjusted */
grid-template-rows: 1fr 10fr 10fr min-content;
grid-template-areas:
  '. logo . . . . '
  '. . . main main .'
  '. . . button button .';
}

h1
{
text-align: center;
font-size: 4rem;
grid-area:  main;

}


button
{
   
    border:none;
    background-color: #2A4C09;
    font-size:1.4rem;
    width: 150px; 
    color:white;
    height:75px; 
    border-radius: 20px;
    text-align: center;
    grid-area: button;
}

img
{
    grid-area: logo;
    max-width: 18rem;
    max-height: 10rem;
    margin-left: 1rem;
 
}

@media only screen and (max-width: 600px) {
    .homepage {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'logo'
            'main'
            'button';
    }

    img {
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        font-size: 2.5rem;
    }
}
